################################################################################
# Este archivo .gitignore ha sido creado automáticamente por Microsoft(R) Visual Studio.
################################################################################

/errepar-update-indice-contenidos/bin/
/errepar-update-indice-contenidos/obj/
/.vs/errepar-update-indice-contenidos/v17
/errepar-update-indice-contenidos/.vs
/.vs
/obj
/bin
