<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSourceMapping>
    <packageSource key="nuget.org">
      <package pattern="ClosedXML" />
      <package pattern="ClosedXML.Parser" />
      <package pattern="DocumentFormat.OpenXml" />
      <package pattern="DocumentFormat.OpenXml.Framework" />
      <package pattern="ExcelNumberFormat" />
      <package pattern="RBush.Signed" />
      <package pattern="SixLabors.Fonts" />
    </packageSource>
  </packageSourceMapping>
</configuration>